<% include ./particles/header %>

    <div class="container">
        <div class="jumbotron">
            <%if(!flatinfo.flatname){%>
                <div>
                    <a href="/flat/update"><button class="btn-flat">Give a name to your Home</button></a>
                </div>
            <%}else{%>
                <h3 class="display-4">Welcome To <span class="flatname"><%=flatinfo.flatname%></span></h3>
                <p class="lead"> <span class="flatquote"><%=flatinfo.flatquote%></span></p>
            <%}%>
            <hr class="my-4">
            <p>To Add New User. Click on New Mate</p>
            <a class="btn btn-primary btn-lg" href="/mate/newMate" role="button">New Mate</a>
          </div>
        <div class="totalexp">
            <div class="name ">
                Total Expense
            </div>  
            <div class="rupess ">
  
                <p><i class="fas fa-rupee-sign"></i><%=total%></p>
            </div>
            
            </div>
            <%if(user.length !==0){%>
                <div class="heading">
                        Add Expense
                </div>
            <div>
                <form action="/user/newexpense" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Expense Name</label>
                      <input type="text" class="form-control" name="expname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Amount</label>
                      <input type="number" class="form-control" name="expamount" id="exampleInputPassword1" placeholder="Amount" required>
                    </div>
                    
                      <div class="expenseby">
                          Expense By
                      </div>
                        <select class="dropdown" name="expby" required>
                                <% user.forEach(mate=>{%>
                                    <option value="<%=mate.matename%>"><%=mate.matename%></option>
                                <%})%>
                              </select>
                   
                    <button type="submit" class="btn btn-primary btn-right">Add</button>
                  </form>
                </div>
            <%}%>

            <div class="clearfix">

            </div>
            <div>
                    <div class="exp-heading">
                     Expense By User
                     <div class="exp-heading-form">
                         <form action="/mate/expense" method="POST">
                             <select class="" name="selecteduser"  required>
                                 <%user.forEach(mate=>{%>
                                     <option value="<%=mate.matename%>" class="opt-user"><%=mate.matename%></option>
                                 <%})%>                        
                             </select>
                             <button type="submit" class="btn-submit">Submit</button>
                         </form>
                     </div>
                    </div>
             </div>

            <div class="heading">
                    All Expense Detail
            </div>
            <div class="row">
            <% expense.forEach(exp=>{ %>
                
                    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1">
                            <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                                    <div class="card-header"> Expense By <span class="user"><%=exp.expby%></span> On <span><%=exp.expdate%> </span></div>
                                    <div class="card-body">
                                      <h5 class="card-title expname"><%=exp.expname%></h5>
                                      <p class="card-text expamount"><i class="fas fa-rupee-sign"></i><%=exp.expamount%></p>
                                    </div>
                    </div>                        
                  </div>              
            <%})%>
        </div>
    </div>

    <% include ./particles/footer %>