<% include ./particles/header %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome To FlatMate</h1>
            <p class="lead">Man needs his difficulties because they are necessary to enjoy success. - A. P. J. Abdul Kalam </p>
            <hr class="my-4">
            <p>To Add New User. Click on New Mate</p>
            <a class="btn btn-primary btn-lg" href="/user/newuser" role="button">New Mate</a>
          </div>
        <div class="totalexp">
            <div class="name ">
                Total Expense
            </div>  
            <div class="rupess ">
  
                <p><i class="fas fa-rupee-sign"></i><%=total%></p>
            </div>
            
            </div>
            <%if(user.length !==0){%>
                <div class="heading">
                        Add Expense
                </div>
            <div>
                <form action="/user/newexpense" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Expense Name</label>
                      <input type="text" class="form-control" name="expname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Amount</label>
                      <input type="number" class="form-control" name="expamount" id="exampleInputPassword1" placeholder="Amount">
                    </div>
                    
                      
                        <select class="dropdown" name="expby">
                                <option selected>Expense By</option>
                                <% user.forEach(mate=>{%>
                                    <option value="<%=mate.username%>"><%=mate.username%></option>
                                <%})%>
                              </select>
                   
                    <button type="submit" class="btn btn-primary btn-right">Add</button>
                  </form>
                </div>
            <%}%>

            <div class="clearfix">

            </div>
            <div>
                    <div class="exp-heading">
                     Select User
                     <div class="exp-heading-form">
                         <form action="/user/expense" method="POST">
                             <select class="" name="selecteduser">
                                 <%user.forEach(mate=>{%>
                                     <option value="<%=mate.username%>"><%=mate.username%></option>
                                 <%})%>                        
                             </select>
                             <button type="submit" class="btn-submit">Submit</button>
                         </form>
                     </div>
                    </div>
             </div>

            <div class="heading">
                    All Expense Detail
            </div>
            <div class="row">
            <% expense.forEach(exp=>{ %>
                
                    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1">
                            <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                                    <div class="card-header"> Expense By <%=exp.expby%></div>
                                    <div class="card-body">
                                      <h5 class="card-title"><%=exp.expname%></h5>
                                      <p class="card-text"><i class="fas fa-rupee-sign"></i><%=exp.expamount%></p>
                                    </div>
                    </div>                        
                  </div>              
            <%})%>
        </div>
    </div>

    <% include ./particles/footer %>