<% include ./particles/header%>

<div class="container">

    <%if(expdetail.length===0){%>
        <div class="heading">
                No Expense By <span class="user-heading"><%=user[0].username%></span>
            </div>
    <%}else{%>
    <div class="heading">
        Expense By <span class="user-heading"><%=expdetail[0].expby%></span> <span class="right-ele">Total <i class="fas fa-rupee-sign"></i><%=totalamount%></span>
    </div>
    <div class="row">
            <% expdetail.forEach(exp=>{ %>
                
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1">
                        <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                                <div class="card-header"> Expense On <%=exp.expdate%></div>
                                <div class="card-body">
                                  <h5 class="card-title"><%=exp.expname%></h5>
                                  <p class="card-text"><i class="fas fa-rupee-sign"></i><%=exp.expamount%></p>
                                </div>
                                <div class="useroption">
                                        <div class="edit">
                                                <a href="/user/expense/<%=exp._id%>"><button class="btn-edit">Edit</button></a>
                                        </div>
                                        
                                        <div class="delete">
                                            <form action="/user/expense/<%=exp._id%>?_method=DELETE" method="POST">
                                                <button class="btn-delete">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                </div>                        
              </div>              
        <%})%>
    </div>
    
<%}%>
</div>
</div>

<% include ./particles/footer%>
